<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>606566673594-l27dpgv1g0m2ifc52i2d943juqeb0mvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606566673594-l27dpgv1g0m2ifc52i2d943juqeb0mvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCKT37HfB8YOhL-VgyVO3KrDgZhcEm0_vI</string>
	<key>GCM_SENDER_ID</key>
	<string>606566673594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chipstacks.chipstacks</string>
	<key>PROJECT_ID</key>
	<string>chipstacks-d1cc0</string>
	<key>STORAGE_BUCKET</key>
	<string>chipstacks-d1cc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606566673594:ios:921c6ea5fbfec81c</string>
	<key>DATABASE_URL</key>
	<string>https://chipstacks-d1cc0.firebaseio.com</string>
</dict>
</plist>